body {
  background-image: url("https://previews.123rf.com/images/ookasan/ookasan1709/ookasan170900255/85772405-green-grass-texture-background-or-the-green-nature-wall-texture-ideal-for-use-in-the-design-fairly-.jpg");
  font-weight: strong;
}

h1 {
  font-weight: strong;
  color: white;
}

hr {
  border-color: white;
}

#line {
  color: purple;
}
.img {
  margin: auto;
  border-radius: 50%;
}
