/* Import reset.css */

/*@import url(reset.css);*/

html {
    background-color: #DCDCDC;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 62.5%;
    /* 10px based on a browser default of 16px */
}

body {
    line-height: 1.4;
    /* 1.4 x default font size */
}

h1 {
    font-weight: 400;
    font-size: 5rem;
    color: #DCDCDC;
    text-align: center;
    clear: both;
    padding: 0.7rem 1.5rem;
}

h2 {
    font-size: 2.2rem;
    color: #492E00;
    text-align: center;
}

h2 a {
    font-size: inherit;
}

h3 {
    font-size: 2.0rem;
}

h4 {
    font-size: 1.8rem;
}

p {
    font-size: 1.4rem;
}

a {
    font-size: 1.6rem;
    text-decoration: none;
}

/* WebPage Layout */

#WebPage {
    width: 960px;
    margin: 1.5rem auto;
}

/* Banner */

#banner {
    background-color: #072C66;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #333333;
    padding: 1rem 1rem 0rem 1rem;
    margin-bottom: 1.5rem;
}

#banner a#shronk {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 42%;
}

#banner a#shronk img {
    height: 250px;
    width: 400px;
    border-radius: 20px;
}

#banner a#Reanu {
    float: right;
}

#banner a#Reanu img {
    height: 127px;
    width: 200px;
    border-radius: 20px;
}

#banner nav {
    background-color: #BA7702;
    border-radius: 10px;
    padding: 0.5rem 0;
    overflow: hidden;
}

#banner nav ul {
    text-align: center;
}

#banner nav li {
    display: inline;
}

#banner nav a {
    color: #DCDCDC;
    padding: 1rem 2rem;
}

#banner nav a:hover {
    background-color: #1A4C9A;
}

/* Content */

#Wrapper {
    background-color: #ECECED;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #333333;
    margin-bottom: 1.5rem;
    overflow: hidden;
}

#Wrapper h2 {
    padding: 1rem 0;
}

#SideLinks {
    width: 15%;
    float: left;
}

#SideLinks ul {
    text-align: center;
}

#SideLinks li {
    padding-bottom: 1rem;
}

#SideLinks a {
    color: #072C66;
}

#SideLinks a:hover {
    color: #E99B13;
    text-decoration: underline;
}

/* Blog Articles */

#Posts {
    width: 85%;
    float: right;
    background-color: white;
}

#Posts a {
    color: #492E00;
}

#Posts a:hover {
    color: #E99B13;
    text-decoration: underline;
}

#Posts p {
    padding: 0.5rem;
}

#Posts hr {
    border-color: #EEEEEE;
    border-style: ridge;
}

#Posts footer {
    padding: 0.5rem;
}

#Footer {
    background-color: #9A6200;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #333333;
    padding: 1.5rem;
    overflow: hidden;
}

#Footer ElonMusk {
    float: left;
}

#Footer Shaggy {
    float: right;
}

#ElonMusk a img {
    height: 100px;
    width: 100px;
}

#Shaggy a img {
    height: 100px;
    width: 100px;
}

#Footer p {
    clear: both;
    padding-top: 1rem;
    text-align: center;
    font-size: 1rem;
    font-style: italic;
}