.App{
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #5d40c5;
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

h1{
  padding: 5%;
}

p{
  padding-bottom: 5%;
  width: 80%;
  margin: 0 auto;
  line-height: 2;
}