.App{
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #5d40c5;
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

h1{
  padding: 5%;
}
h2{
  padding: 3%;
}

p{
  padding-bottom: 5%;
  width: 80%;
  margin: 0 auto;
  line-height: 2;
}

form label{
  display: block;
  margin: 10px;
}

.preventEdit{
  width: 50%;
  box-shadow: 3px 3px 10px #888888;
  margin: 10% auto;
}

.preventEdit h3{
  margin-top: 10%;
}

.radio-button{
  display: inline;
  margin: 10px;
}

.tp-stock{
  margin: 30px auto;
}

.invisible{
  overflow: hidden;
        visibility: hidden;
        height: 0;
        width: 0;
}

.red{
  color: red;
}

.call-out-link{
  text-align: center;
  width: 40%;
  margin: 0 auto;
  list-style: none;
}

.get-key p{
  margin: 10% auto 0%;
}
.get-key ul{
  margin: 0 auto;
}

.logo{
  width: 5%;
}
